<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>
<body>
	<div class="title">
		<img src="../img/logo_dn_titre.png" alt="Logo titre">
	</div>
	<div class="form-cont">

		<div class="col">
			<div class="general-conf">
				<h2>General configuration</h2>
				<div class="input-cont">
					<label for="dbname">Folder name</label>
					<input type="text" name="dbname" value="DB_1" id="dbname">
				</div>
		
				<div class="input-cont">
					<label for="host">Host</label>
					<input type="text" value="localhost" name="host" id="host">
				</div>
			
				<div class="input-cont">
					<label for="port">Port</label>
					<input type="number" min="1" value="8000" name="port" id="port">
				</div>
			</div>
	
			<div class="img-conf">
				<h2>Images configuration</h2>
				<div class="input-cont">
					<label for="imNum">Number of images</label>
					<input type="number" name="imNum" min="1" value="1" id="imNum">
				</div>
				
				<div class="input-cont">
					<label for="width">Width</label>
					<input type="number" value="640" min="1" name="width" id="width">
				</div>
			
				<div class="input-cont">
					<label for="height">Height</label>
					<input type="number" value="480" min="1" name="height" id="height">
				</div>
			</div>
		</div>


		<div class="col">
			<div class="sim-conf">
				<h2>Simulation configuration</h2>
				<div class="input-cont">
					<label for="seed">Seed</label>
					<input type="number" min="0" max="32767" name="seed" id="seed">
					<button id="rand-seed">Random</button>
				</div>
				
				<div class="input-cont">
					<label for="town">Town</label>
					<input type="number" min="1" value="10" name="town" id="town">
				</div>
			
			
				<div class="input-cont">
					<label for="fov">Field of view</label>
					<input type="number" value="110" min="1" max="360" name="fov" id="fov">
				</div>
			
				<div class="input-cont">
					<label for="day">Angle Day</label>
					<input type="number" value="110" min="0" max="180" name="day" id="day">
				</div>
			
				<div class="input-cont">
					<label for="night">Angle Night</label>
					<input type="number" value="110" min="-180" max="0" name="night" id="night">
				</div>
			
				<div class="input-cont">
					<label for="traffic">Traffic</label>
					<input type="number" value="20" min="0" max="100" name="traffic" id="traffic">
				</div>
			</div>
		</div>
	
	</div>
	<button id="generate-button">Generate</button>

	<script type="text/javascript" src="/eel.js"></script>
	<script>
		function startSimulation()
		{
			eel.startSimulationPy(createJSONFromConfig())
		}

		function createJSONFromConfig()
		{
			json_conf = {
				'imNum' : document.getElementById('imNum').value,
				'host' : document.getElementById('host').value,
				'port' : document.getElementById('port').value,
				'width' : document.getElementById('width').value,
				'height' : document.getElementById('height').value,
				'fov' : document.getElementById('fov').value,
				'day' : document.getElementById('day').value,
				'night' : document.getElementById('night').value,
				'traffic' : document.getElementById('traffic').value,
				'town' : document.getElementById('town').value,
				'dbname' : document.getElementById('dbname').value,
				'seed' : document.getElementById('seed').value
			}

			return json_conf
		}

		function mountButton()
		{
			btn = document.getElementById('generate-button');

			btn.addEventListener("click", startSimulation);
		}

		let random_btn = document.getElementById("rand-seed");
		let seed = document.getElementById('seed')
		random_btn.addEventListener("click", () => {
			seed.value = Math.floor(Math.random() * 32761)
		})

		mountButton()
	</script>
</body>
</html>